<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1.0, minimum-scale=1">
<title>拍照上传完成</title>
</head>
<body>
<div style="text-align:center;">

    <h3 style="font-size:24px; margin:10px 0;">
        图片上传成功，请刷新电脑浏览器<br>
        <small style="font-weight:normal; ">客户：{ $item.name }</small>
    </h3>
    <img src="{ $img_url }" style="max-width:100%; margin-top:10px;" />
    
</div>

</body>
</html>