{ include '../main_top.html' }

<script>
    Z.config.navMenuId = 'NavMenu_ui_table_table1';
</script>
<h3 class="page-header"><i class="fa fa-users"></i> 用户管理</h3>

<!--表格顶部工具栏-->
<form id="frmQuery" class="form-query form-inline">
    <input type="hidden" name="_" value="{ $_api.base }" />
    <input type="hidden" name="page" value="{ $page }" />
    用户类型：
    <select class="form-control form-control-sm auto-submit" name="user_type" data-select-val="{ $user_type }">
        <option value="0">全部</option>
        <option value="1">管理员</option>
        <option value="2">项目用户</option>
        <option value="3">监理</option>
        <option value="4">施工方</option>
    </select>
    &nbsp;
    <div class="input-group input-group-sm">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
        </div>
        <input type="date" class="form-control auto-submit" name="dt" value="{ $dt }">
    </div>
    &nbsp;
    <div class="input-group input-group-sm dt-range">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
        </div>
        <input type="date" class="form-control auto-submit" name="dt_begin" value="{ $dt_begin }">
        <div class="input-group-append">
            <span class="input-group-text">至</span>
        </div>
        <input type="date" class="input-group-append form-control auto-submit" name="dt_end" value="{ $dt_end }">
    </div>
    &nbsp;
    <button class="btn btn-primary btn-sm" type="submit">
        <i class="fa fa-search"></i> 查询
    </button>
    &nbsp;
    <button class="btn btn-primary btn-sm" onclick="$('#tb1 tbody').append($('#tb1 tbody tr').eq(0).clone()); return false;">
        <i class="fa fa-plus-circle"></i> 添加
    </button>
    &nbsp;
    <button class="btn btn-primary btn-sm" onclick="Z.alertFrame('frame_form.php', '弹出表单1'); return false;">
        <i class="fa fa-plus-circle"></i> 添加
    </button>
    &nbsp;
    <button class="btn btn-danger btn-sm" onclick="delTr('删除'); return false;">
        <i class="fa fa-trash"></i> 删除
    </button>

    <!--表格工具-->
    <div class="table-tool btn-toolbar">
        
        <div class="nav-item input-group mr-1">
            <input type="search" class="form-control form-control-sm" placeholder="Search">
            <div class="input-group-append">
                <button class="btn btn-sm btn-secondary" type="button"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <div class="btn-group btn-group-sm" role="group">
            <button type="button" class="btn btn-secondary" data-toggle="tooltip" title="表格打印"><i class="fa fa-print"></i></button>
            <button type="button" class="btn btn-secondary" data-toggle="tooltip" title="导出EXCEL"><i class="fa fa-external-link"></i></button>

            <div class="btn-group btn-group-sm" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#"><i class="fa"></i> 添加时间 <i class="fa fa-long-arrow-down"></i></a>
                <a class="dropdown-item active" href="#"><i class="fa fa-check"></i> 添加时间 <i class="fa fa-long-arrow-up"></i></a>
                <a class="dropdown-item" href="#"><i class="fa"></i> 价格 <i class="fa fa-long-arrow-down"></i></a>
                <a class="dropdown-item" href="#"><i class="fa"></i> 价格 <i class="fa fa-long-arrow-up"></i></a>
                </div>
            </div>
        </div>
    </div>
</form>

<style>
</style>
<script>
function delTr()
{
    var idList = Z.getTableCheckList('#tb1');
    if (idList.length == 0){
        Z.alertError('请选择要删除的数据！');
        return;
    }

    Z.ajax({
        url:'./tool/ajax.php',
        data:{id_list:idList},
        success:function(res){
            alert('ajax 操作完成');
        }
    });
}
</script>
<div class="tbListDiv">
<table id="tb1" class="tbList fix-header" data-table="table1">
    <thead>
        <tr>
        <th><input type="checkbox" class="chkAll" /></th>
        <th>#</th>
        <th>名称&uarr;</th>
        <th>价格&darr;</th>
        <th>上市</th>
        <th>状态</th>
        <th>添加时间</th>
        <th>操作</th>
        </tr>
    </thead>
    <tbody>
        { $i = ($page - 1) * 20 }
        { section name=total loop=20 }
        { $i = $i + 1 }
        <tr data-id="{ $i }">
        <td><input type="checkbox" /></td>
        <td>{ $i }</td>
        <td contenteditable="plaintext-only" data-field="name">诺基亚5230XM</td>
        <td>900-1100元</td>
        <td>2009年 2010年</td>
        <td class="z-status">
            <span class="active">启动</span><span>禁用</span>
        </td>
        <td>2018-11-11 11:11:11</td>
        <td class="td-btn">
            <a href="javascript:Z.alertFrame('frame_form.php', '弹出表单1');" title="编辑"><i class="fa fa-edit"></i></a>
            <a href="#" class="btn-del" title="删除用户"><i class="fa fa-close"></i></a>
            <a href="javascript:alert(123);" class="btn-del"><i class="fa fa-close"></i></a>
            <a href="./tool/ajax.php" class="btn-del"><i class="fa fa-close"></i></a>
            <a href="#"><i class="fa fa-cog"></i> 设置</a>
            <a href="#" title="快速设置用户信息">设置</a>
        </td>
        </tr>
        { /section }
    </tbody>
    <tfoot>
        <tr>
            <td>
                <span class="foot-info">共100条</span>
                <span class="page" data-form="frmQuery" data-total="1000" data-page="{ $page }" data-page-size="20">
                </span>
            </td>
        </tr>
    </tfoot>
</table>
</div>

{ include '../main_bottom.html' }