{ include '../main_top.html' }
<script src="https://lib.baomitu.com/holder/2.9.6/holder.min.js"></script>
<script>
    Z.config.navMenuId = 'NavMenu_about';
</script>

<h3 class="page-header"><i class="fa fa-vcard"></i> 关于我们</h3>

<img src="holder.js/300x100?text=LOGO" />

<table class="tb-attr mt-2">
    <tr><th>系统名称：</th><td>沥胜沥青站生产管理系统 v1.0</td></tr>
    <tr><th>开发公司：</th><td>西安沥胜科技有限责任公司</td></tr>
    <tr><th>公司网站：</th><td><a href="http://www.lisheng.com" target="_blank">www.lisheng.com</a></td></tr>
    <tr><th>联系电话：</th><td>+86 029-88886666</td></tr>
    <tr><th>公司地址：</th><td>西安市高新区张堡东路蓝海国际中心202室</td></tr>
    <tr>
        <th>位置地图：</th>
        <td>
            <img src="holder.js/500x300?text=位置地图" />
        </td>
    </tr>
</table>

{ include '../main_bottom.html' }