{ include '../main_top.html' }

<script>
    Z.config.navMenuId = 'NavMenu_help';
</script>

<h3 class="page-header"><i class="fa fa-book"></i> 系统帮助</h3>

<h3>2019-04-29</h3>
<ul>
    <li><i class="fa fa-check-circle"></i> 系统数据通讯异常时发送报警邮件</li>
    <li><i class="fa fa-check-circle"></i> 生产数据监控端数据提交添加队列</li>
    <li><i class="fa fa-bug"></i> 修复PC小屏幕查看弹出框时，标题和关闭按钮超出屏幕</li>
</ul>

<h3>2019-04-24</h3>
<ul>
    <li><i class="fa fa-check-circle"></i> 手机端弹出iFrame尺寸优化为全屏</li>
    <li><i class="fa fa-bug"></i> 修复车辆GPS路径经纬度跳转到非洲问题</li>
    <li><i class="fa fa-check-circle"></i> 优化手机端登录页面</li>
    <li><i class="fa fa-check-circle"></i> 运输记录增加客户字段</li>
    <li><i class="fa fa-check-circle"></i> GPS设备增加充电状态</li>
</ul>

{ include '../main_bottom.html' }